<div class="web-projects">
    <div *ngFor="let project of projects">
        <mat-card class="container">
            <div class="item item1">
                <a class="container-image" href={{project.url}} target="_blank">
                    <img class="image" src={{project.image}} alt="">
                </a>
            </div>
            <div class="item item2">

                <h2>{{project.title}}</h2>

                <p>
                    {{project.description}}
                </p>

                <div class="text-center text-muted stack">
                    <div class="row align-items-start">
                        <div class="col">
                            Angular
                        </div>
                        <div class="col">
                            CSS
                        </div>
                        <div class="col">
                            Java
                        </div>
                        <div class="col">
                            Spring Boot
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <a mat-raised-button color="basic" href={{project.repository}} target="_blank">Code/Repository</a>
                    <a mat-raised-button color="primary" href={{project.url}} target="_blank">Demo/Preview</a>
                </div>
            </div>

        </mat-card>
    </div>
</div>