
.card {
    padding: 1% 1%;
    margin-top: 63px;

}

h1 {

    font-weight: bold;
    font-size: 40px;
    line-height: 3.5rem;
    padding-bottom: 8%;

        color: white;
      
}

.card {
    width: 100%;
    height: 400px;
    align-items: center;
    align-content: center;
    align-self: center;
    color: white;
    background-color: #262626;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    overflow: visible;
}

.card .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.7rem;
}

.item:hover {
    transform: scale(0.95);
    transition: all 0.3s;
}

.item svg {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
}

.item--1 {
    background: #7171c2;
}

.item--2 {
    background: #9f7c65;
}

.item--3 {
    background: #4e8f64;
}

.item--4 {
    background: #8b5e7c;
}

.quantity {
    font-size: 25px;
    font-weight: 600;
}

.text {
    font-size: 12px;
    font-family: inherit;
    font-weight: 600;
}

.text--1 {
    color: rgb(255, 255, 255);
    padding-top: 1.2rem;
    font-size: 18px;
}

.text--2 {
    color: rgb(243, 239, 234);

    padding-top: 1.2rem;
    font-size: 18px;
}

.text--3 {
    color: rgba(66, 193, 110, 1);
}

.text--4 {
    color: rgba(220, 91, 183, 1);
}