<footer>

    <div class="footer" id="footer">

        <div class="container d-flex justify-content-center">

            <div class="row">

                <ul class="social">

                    <li> <a href="https://www.facebook.com/fidel.huarcayapoma"> <i class=" fa fa-facebook"> </i> </a> </li>

                    <li> <a href="https://github.com/fidelhuarcaya"> <i class="fa fa-github"> </i> </a> </li>

                    <li> <a href="https://www.linkedin.com/in/fidelhuarcaya/"> <i class="fa fa-linkedin"> </i> </a> </li>

                    <li> <a href="https://play.google.com/store/apps/dev?id=7395331256085212921"> <i class="fa fa-play store"> </i> </a> </li>

                    <li> <a href="https://www.youtube.com/c/PuntoTecOficial"> <i class="fa fa-youtube"> </i> </a> </li>

                </ul>

            </div>
        </div>


    </div>


    <div class="footer-bottom">
        <div class="container d-flex justify-content-center">
            <p class="pull-left"> Copyright © 2022. All rights reserved. Fidel Huarcaya</p>

        </div>

    </div>

</footer>