<footer>

    <div class="footer">
        <div class="container d-flex justify-content-center">

            <div class="flex flex-row gap-5">

                <a href="https://www.facebook.com/fidel.huarcayapoma">
                    <button pButton class="p-button-outlined" icon="pi pi-facebook"></button>
                </a>

                <a href="https://github.com/fidelhuarcaya">
                    <button pButton class="p-button-outlined" icon="pi pi-github"></button>
                </a>

                <a href="https://www.linkedin.com/in/fidelhuarcaya/">
                    <button pButton class="p-button-outlined" icon="pi pi-linkedin"></button>
                </a>
                <a href="https://play.google.com/store/apps/dev?id=7395331256085212921">
                    <button pButton class="p-button-outlined" icon="pi pi-play store"></button>
                 </a>

                <a href="https://www.youtube.com/c/PuntoTecOficial">
                    <button pButton class="p-button-outlined" icon="pi pi-youtube"></button> 
                </a>



            </div>
        </div>

    </div>


    <div class="footer-bottom">
        <div class="container d-flex justify-content-center">
            <a href="https://github.com/fidelhuarcaya/dev" target="_blank">
                <p class="pull-left"> Design and build by Fidel Huarcaya. {{currentYear}} </p>
            </a>
        </div>

    </div>

</footer>