.footer {
    height: auto;
    padding-bottom: 10px;

    width: 100%;
    padding-top: 3rem;

    border-top: 1px solid #696363;

}

.pull-left{
    padding-top: 5%;
    color: aliceblue;
}
.pull-left:hover{
    padding-top: 5%;
    color: rgb(29, 129, 217);
}
.footer-bottom{
    padding-bottom: 2%;
    padding-top: 3%;
}