<div class="floating-nav" [class.expanded]="isExpanded">
  <div class="fab-menu" [class.expanded]="isExpanded">
    <div class="fab-menu-items">
      <div class="fab-item-container"
           *ngFor="let item of menuItems; let i = index"
           [style.animation-delay]="isExpanded ? (i * 0.1) + 's' : (i* 0.1) + 's'">
        <span class="item-label">{{item.label}}</span>
        <button class="fab-item" (click)="scrollTo(item.id)">
          <i class="fas {{item.icon}}"></i>
        </button>
      </div>
    </div>
  </div>

  <button class="fab-main" (click)="toggleExpand()" [class.active]="isExpanded">
    <i class="fas" [class.fa-times]="isExpanded" [class.fa-bars]="!isExpanded"></i>
  </button>
</div>
