.container {

  padding-top: 17%;

  padding-bottom: 14%;


}

h1 {
  padding-top: 80px;
  margin-bottom: 3rem;
  font-size: 40px;
  line-height: 3.5rem;
  font-weight: bold;
}
p{
  font-size: 18px;
  padding-bottom: 2rem;
  line-height: 2.5rem;
}

.example-form {
 
  justify-content: center;
  text-align: center;
  

}

.example-full-width {

  line-height: 1.5;
  min-width: max-content;
  width: 100%;
  max-width: 100%;

  
}
.container>div{
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
 
  margin-bottom: 5rem;
}