<div class="container">
    <h1>Contáctame</h1>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ej: Jhon Doe">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="jhondoe@example.com">
          </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Mensaje</mat-label>
          <textarea matInput placeholder="Escriba el mensaje..."></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Enviar mensaje</button>
      </form>
</div>