.container {

  padding-top: 12%;
 
  padding-bottom: 14%;
  padding-left: 3%;
  padding-right: 8%;

}

h1 {
  padding: 1px 10px;
  margin-bottom: 3rem;
  font-size: 40px;
  line-height: 3.5rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.example-form {
 
  justify-content: center;
  text-align: center;
  

}

.example-full-width {

  line-height: 1.5;
  min-width: max-content;
  width: 100%;
  max-width: 100%;

  
}
.container>div{
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
 
  margin-bottom: 5rem;
}