<div class="container">
  <h1>Contáctame</h1>
  <form class="example-form" [formGroup]="emailForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombres</mat-label>
      <input required minlength="4"  matInput placeholder="Ej: Jhon Doe"
        formControlName="name">

    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Correo</mat-label>
      <input required minlength="6" matInput placeholder="jhondoe@example.com" formControlName="email">

    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Mensaje</mat-label>
      <textarea required minlength="4" matInput placeholder="Escriba el mensaje..." formControlName="body"></textarea>
    </mat-form-field>
 
  </form>
<div class="example-full-width"><button  mat-raised-button color="primary" (click)="sendEmail()">Enviar mensaje <mat-icon>
        send_rounded</mat-icon>
    </button></div>

</div>