*{
  margin: 0;
  padding: 0;
  background-color: #1a1e23;
  border: none;
  box-shadow: none;
}

.pdf-view-container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: aqua;
  border: none;
  box-shadow: none;
}
