<footer class="footer-section" fadeIn>
    <div class="container">
        <div class="footer-content">
            <p class="footer-text">Hecho con <i class="fas fa-heart"></i> por <a class="footer-link" href="https://tiktok.com/@fidel.huarcaya" target="_blank">Fidel Huarcaya</a> - {{getYear()}}</p>
            <div class="social-links">
                <a href="https://github.com/fidelhuarcaya" class="social-link" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://linkedin.com/in/fidelhuarcaya" class="social-link" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://instagram.com/fidelhuarcaya" class="social-link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>

            </div>
        </div>
    </div>
</footer>