<footer class="footer-section">
    <div class="container">
        <div class="footer-content">
            <p class="footer-text">&copy; {{getYear()}} Fidel Huarcaya. Todos los derechos reservados.</p>
            <div class="social-links">
                <a href="https://github.com/fidelhuarcaya" class="social-link" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://linkedin.com/in/fidelhuarcaya" class="social-link" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://instagram.com/fidelhuarcaya" class="social-link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                
            </div>
        </div>
    </div>
</footer>