.container {
    padding-top: 10%;
    padding-bottom: 14%;
}

h1 {
    padding-bottom: 80px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.5rem;
    color: white;
}

h3 {
    color: white;
}

p {
    font-size: 16px;
}


::ng-deep .card-red {
    background-color: #2a2b38;
    color: aliceblue;
}

::ng-deep .p-timeline-event-opposite {
    flex: none;
    padding: 0;
    margin: 0;
    background-color: red;
    display: none;
}

::ng-deep .p-timeline-event{
    margin-bottom: 2rem;
}