<div class="container">
    <h1>Experiencia</h1>

    <div class="step-container">
        <mat-vertical-stepper class="step-container">
            <mat-step label="Oct 2021 - Mar 2022">

                <h2>Java Developer, Android en Alpha Neo </h2>
                <ul>
                    <li>
                        <p>Integración de compras en la aplicación.</p>
                    </li>
                    <li>
                        <p>Desarrollo de aplicaciones Android y actualizaciones
                            de la misma.</p>
                    </li>
                    <li>
                        <p>Correción de bugs.</p>
                    </li>
                </ul>

                <div>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </mat-step>
        <mat-step label="Mar 2022 - Actualidad">

        </mat-step>

           
        </mat-vertical-stepper>
    </div>
</div>