.container {
    padding-top: 8%;
    /*padding-left: 8%;
    padding-right: 8%;*/
    padding-bottom: 14%;
}

h1 {

    padding: 80px 0px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.5rem;
}

p {
    
    font-size: 16px;
}
.step-container{
background-color: #323131;
border-radius: 2%;
/*background-color: #262626;*/
}