.container {
    /*padding: 2% 7%;*/
    padding-bottom: 7rem;
    padding-top: 10%;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 3.5rem;
    margin-bottom: 12%;
}

p {
    font-size: 20px;
    line-height: 2.5rem;
}