<div class="container">
    <section id="about">
        <div class="container px-3">
            <div class="row ">
                <div class="col-lg-8">
                    <h1>Acerca de mí</h1>
                    <p>Soy Fidel Huarcaya, un desarrollador de software de Perú. Soy un tipo  al que 
                        le gusta resolver problemas mediante el desarrollo de software.
                        Crear una solución inteligente e imaginar una interacción útil, desarrollando experiencias web ricas, 
                        aplicaciones web y movil.     
                    </p>
                    
        
                </div>
            </div>
     
        </div>
    </section>
</div>