<section class="about-section">
    <div class="container">
      <h2 class="section-title">
        <i class="fas fa-user"></i>
        Sobre mí
      </h2>
  
      <div class="about-content">
        <div class="about-image-container">
          <!--<img src="/assets/images/doctor.webp" alt="Fidel Huarcaya" class="about-image">-->
          <div class="about-social">
            <a href="https://github.com/fidelhuarcaya" class="social-link" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://linkedin.com/in/fidelhuarcaya" class="social-link" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="mailto:contacto@fidelhuarcaya.com" class="social-link">
              <i class="fas fa-envelope"></i>
            </a>
          </div>
        </div>
  
        <div class="about-info">
          <div class="about-text">
            <p class="about-description">
              Soy un Desarrollador Full Stack apasionado por crear soluciones tecnológicas innovadoras. 
              Me especializo en el desarrollo de aplicaciones web y móviles, con un fuerte enfoque en 
              tecnologías como Angular, Spring Boot y Android.
            </p>
            
            <p class="about-description">
              Con experiencia en el desarrollo de aplicaciones educativas y herramientas de productividad, 
              me enfoco en crear productos que combinen funcionalidad con una excelente experiencia de usuario.
            </p>
          </div>
  
          <div class="cta-container">
            <a (click)="showCV()" target="_blank"  class="cta-button">
              <i class="fas fa-download"></i>
              Descargar CV
            </a>
            <a href="#contact" class="cta-button secondary">
              <i class="fas fa-envelope"></i>
              Contactar
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>