<app-loader></app-loader>
<div *ngIf="!showSpinner">
<!-- navbar -->
<nav id="navbar-example2" class="navbar navbar-expand-lg navbar-dark fixed-top navbar-show">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="../../../assets/img/logo.gif" alt="" width="44" height="44" class="d-inline-block align-text-top">
        </a>
        <p-toggleButton class="navbar-toggler ps-0 p-button-outlined" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
            (click)="toggleNav()" aria-label="Toggle navigation" onIcon="pi pi-times" offIcon="pi pi-bars">
        </p-toggleButton>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" [ngClass]="{'show': isNavOpen}">
            <ul class="nav navbar-nav" [@slideDown]="isNavOpen">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work">Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>

        </div>
    </div>
</nav><!-- /navbar -->

<!-- jumbotron -->

<div>
    <app-presentation></app-presentation>
</div>

<!-- /jumbotron -->

<div class="container p-t-2">

    <!-- about -->
    <div id="about">

        <app-about></app-about>


    </div><!-- /about -->



    <!-- speakers -->
    <h1 id="experience"></h1>

    <div>
        <app-experience></app-experience>
    </div><!-- experience -->

    <!-- works -->
    <h1 id="work"></h1>
    <app-work></app-work>
    <!-- works -->

    <!-- works -->
    <h1 id="contact"></h1>
    <app-contact></app-contact>
    <!-- works -->

    <!-- footer -->
    <div class="row p-y-1">
        <app-footer></app-footer>

    </div>
    <!-- /footer -->

</div><!-- /.container -->

</div>
<app-sidebar></app-sidebar>