.navbar-brand {
    color: #428bc2;
}

.navbar-brand:hover {
    color: #fcfcfc;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #ff6601;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: #7f4722;
}

.navbar-scrolled {
    background-color: #ffede7;
}

.nav-item>a{
    font-size:1.3rem;
}
.nav-item>a:hover{
    color:#01a6ff
}
.nav-item::before{
    color:#01a6ff
}

.content{
   /* margin-top: 210px;*/
    margin-bottom: 16%;
    padding-left: 10%;
   

}
.home{
    margin: 12% 2%; 
}