<div *ngIf="!isMobile" class="side" >
    <div class="flex flex-column">
        <a target="_blank" href="https://github.com/fidelhuarcaya">
            <button pButton icon="pi pi-github" style="box-shadow: none; background-color: rgb(55, 55, 55);"
                class="p-button-rounded">
            </button>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/fidelhuarcaya">
            <button pButton icon="pi pi-linkedin" style="box-shadow: none; 
            background-color: rgb(55, 55, 55); 
            color: rgb(0, 175, 250);" class="p-button-rounded">
            </button>
        </a>
        <a target="_blank" href="https://www.youtube.com/c/PuntoTecOficial">
            <button pButton icon="pi pi-youtube" style="box-shadow: none; 
            background-color: rgb(55, 55, 55);
            color: rgb(255, 0, 106);" class="p-button-rounded">
            </button>
        </a>
        <a target="_blank" href="https://www.instagram.com/fidel.huarcaya">
            <button pButton icon="pi pi-instagram" style="box-shadow: none; 
            background-color: rgb(55, 55, 55);
            color: rgb(138, 0, 156);
            font-weight: bold;" class="p-button-rounded">
            </button>
        </a>
        <div class="flex align-items-center align-self-center align-content-center">
            <hr class="line" width="4" size="100" />
        </div>

    </div>

</div>