<div *ngIf="isVersionDesktop" class="side">
    <div class="column">
        <a mat-mini-fab target="_blank" href="https://github.com/fidelhuarcaya" color="link" aria-label="Github icon">
            <mat-icon svgIcon="github"></mat-icon>
        </a>
        <a mat-mini-fab target="_blank" href="https://www.linkedin.com/in/fidelhuarcaya" color="primary" aria-label="Linkedin icon">
            <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
        <a mat-mini-fab target="_blank" href="https://www.youtube.com/c/PuntoTecOficial" aria-label="youtube icon">
            <mat-icon svgIcon="youtube"></mat-icon>
        </a>
        <a mat-mini-fab target="_blank"href="https://www.instagram.com/fidel.huarcaya" color="basic" aria-label="instagram icon">
            <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="instagram icon"></mat-icon>
        </a>
        <div class="colored" ><hr class="line" width="3" size="100"/></div>
        
    </div>
    
</div>