.side{
    position:fixed;
    left: 2%;
    bottom: 0;
    z-index: 1000;
   
}
a{
    margin-top: 60%;
}
.column{
    display: inline-grid;
     align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.line{
   margin: 0 0;
   background-color: #00aeffb5;
   
}
.colored{
   
background-color: #ff0008;

}