<div class="row row-cols-1 row-cols-md-2 g-3" id="card">
  <div class="col">
    <div class="card radius-15 border-start border-0 border-5 ">
      <div class="card">
        <a href="https://play.google.com/store/apps/details?id=com.alphaneo.calculadora">
          <img width="140px"
            src="https://play-lh.googleusercontent.com/5pV-4mrUqYDSJlBTSLykCXf8sbnnrSpbDxQuRDyMOoHQe5KLhVHf4_GSRzcyTcR-sg=w240-h480-rw"
            alt="">
        </a>
        <div class="card-body"> <a href="https://play.google.com/store/apps/details?id=com.alphaneo.calculadora">
            <h5 class="card-title">Calculadora Neo </h5>
          </a>
          <p class="card-text">Calculadora simple para android con temas, personalizable. Con funciones científicas.
          </p>
        </div>

      </div>

      <div class="container text-center text-muted">
        <div class="row align-items-start">
          <div class="col">
            Java
          </div>
          <div class="col">
            SQLite
          </div>
          <div class="col">
            XML
          </div>
        </div>
      </div>
      <div class="btn-card">
        <a href="https://play.google.com/store/apps/details?id=com.alphaneo.calculadora" target="blank"
          mat-raised-button color="primary">Ver aplicación</a>
      </div>

    </div>

  </div>

  <div class="col">
    <div class="card radius-15 border-start border-0 border-5 ">
      <div class="card">
        <a href="https://play.google.com/store/apps/details?id=com.alphaneo.izimath">
          <img width="140px"
            src="https://play-lh.googleusercontent.com/Q_E3yhV-g5unJT4-X3z4eGx2tt9TXeImYUMpRxk3-a8VAKbf-dqZ75dob-N4AF9OAw=w240-h480-rw"
            alt="">
        </a>
        <div class="card-body"> <a href="https://play.google.com/store/apps/details?id=com.alphaneo.izimath">
            <h5 class="card-title">Izimath </h5>
          </a>
          <p class="card-text">App de fórmulas, juegos y trucos matemáticos para estudiantes
             y cualquier otro apasionado por
            la
            matemática.
          </p>
        </div>
        <div class="container text-center text-muted">
          <div class="row align-items-start">
            <div class="col">
              Java
            </div>
            <div class="col">
              SQLite
            </div>
            <div class="col">
              XML
            </div>
            <div class="btn-card">
              <a href="https://play.google.com/store/apps/details?id=com.alphaneo.izimath" target="blank"
                mat-raised-button color="primary">Ver aplicación</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="col">
  <div class="card radius-15 border-start border-0 border-5 ">
    <div class="card">
      <a href="https://github.com/fidelhuarcaya/angular11-rest-api">
        <img width="140px" src="https://cdn-icons-png.flaticon.com/512/5609/5609117.png" alt="">
      </a>
      <div class="card-body"> <a href="https://github.com/fidelhuarcaya/angular11-rest-api">
          <h5 class="card-title">Classroom App</h5>
        </a>
        <p class="card-text">Una aplicación web para registrar, listar, modificar y eliminar alumnos.
        </p>
      </div>
      <div class="container text-center text-muted">
        <div class="row align-items-start">
          <div class="col">
            Angular
          </div>
          <div class="col">
            Spring Boot
          </div>
          <div class="col">
            Heroku
          </div>
          <div class="col">
            Postgres SQL
          </div>
        </div>
      </div>
      <div class="btn-card">
        <a href="https://github.com/fidelhuarcaya/angular11-rest-api" target="blank" mat-raised-button
          color="danger">Code/Repository</a>
          <span> &nbsp;   </span>
        <a href="https://classroom-alumnos.netlify.app/" target="blank" mat-raised-button
          color="primary">Demo/Preview</a>
      </div>
    </div>
  </div>
</div>