#card{
   
    background-color: 
}
.col>.card1{

}
.card>a{
    margin-top: 22px;

}
h5{
    font-weight: 600;
}
.card{
    background-color: #262626;
    align-items: center;
    align-content: center;


}