

.card>a {
    margin-top: 22px;

}

h5 {
    font-weight: 700;
    font-size: 24px;
}

.card {
    background-color: #262626;
    align-items: center;
    align-content: center;
    margin-top: 3%;
    line-height: 1rem;
}

.btn-card {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.btn-card>a {
    margin-bottom: 1.2rem;
}
.card-title{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card-text {
    height: 4rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 6rem;

}